body {
	background-color: #34a55b ;
	word-wrap: break-word;
}

.main-contents {
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
	margin:auto;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #ffffff ;
	height: 100%;
	width: 90%;
	text-align: left;
}

.login-main-contents {
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
	margin:auto;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #ffffff ;
	height: 100%;
	width: 50%;
	text-align: left;
}

.h1{
	text-align: center;
}

.header {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin: auto;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	height: 100%;
	width: 90%;
	font-size: large;
	color: #ffffff;
	text-align: left;
	background-color: #0ed695;
}


.login-header {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin: auto;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	height: 100%;
	width: 50%;
	font-size: large;
	color: #ffffff;
	text-align: left;
	background-color: #0ed695;
}
.header ul li{
	display: inline;
	text-align: left;
	margin-left: 2%;
}

.hello{
	color: #ffffff;
	font-size:large;
}

.name{
	float: right;
	border-bottom: solid;
	font-weight: bold;
	font-size: x-large;
	text-align: right;
	background-color: #0ed695;
}

.link {
	text-align: left;
}

.line{
	background-color: #0ed695;
	border: none;
	padding-left: 10px;
}

.closer{
	text-align: center;
	background-color: #34a55b;
	border: none;
	padding-left: 10px;
	width: 300px;
	transition: .2s;
}

.closer:hover {
  background: #0ed695;
  color: white;
}

.finder{
	text-align: center;
}

.contribution{

	margin-bottom: 10px;
	padding: 10px
}

.title{
	padding: 4px;
	padding-bottom: 0px;
	color: #ffffff;
	font-weight: bold;
	font-size: large;
	background-color: #0ed695;
}


.category{
	padding: 6px;
	color: #ffffff;
	font-weight: bold;
	font-size: small;
	background-color: #0ed695;
}

.text{
	margin-left: 5%;
	margin-right: 5%;

}

.author{
	border-bottom-style: solid;
	border-color: #0ed695;
	float: right;
}

.postDate{
	font-size: small;
	border-bottom-style: solid;
	border-color: #0ed695;
}

.comment{
	width: 90%;
	border-left-style: solid;
	border-color: #0ed695;

}

.commentBox{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.newComment{
	height: 200px;
	width: 100%;
}

.newContribution{
	text-align: center;
	width: auto;
}

.form{
	font-size: large;
	text-align: left;
	margin-top: 10px;
	margin-left: 10%;
	margin-right: 10%;
}

.inputForm{
	font-size: large;
	height: 40px;
	width: 100%;
}

.contribution-box{
	height: 600px;
	width: 100%;
}

.center{
	text-align: center;
	width: 100%;

}

.mini-gray{
	font-size: small;
	color: #939393;
}

table{
	font-size: large;
	font-weight: bold;
	text-align: center;
	border-collapse: collapse;
	width: 100%;
}

table th{
	background-color: #0ed695;
}

table th, table td {
  border: solid 5px #34a55b;
  padding: 10px;
}

.isDeleted{
	color: #ffffff;
	background-color: #1f6336;
}



.copyright {
	text-align: center;
	width: 250px;
	margin: 0 auto;
	font-size: small;
}

label {
	display: block;
}

.btn-simple {
  position: relative;
  display: inline-block;
  font-size: large;
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: white;
  background: #34a55b;
  transition: .2s;
}
.btn-simple:hover {
  background: #0ed695;
  color: white;
}

.btn-simple-mini {
  position: relative;
  display: inline-block;
  font-size: small;
  font-weight: bold;
  width: 100px;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: white;
  background: #34a55b;
  transition: .2s;
}
.btn-simple-mini:hover {
  background: #0ed695;
  color: white;
}


.deleteButton{
position: relative;
  display: inline-block;
  font-size: small;
  font-weight: bold;
  margin-top: 4px;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: white;
  background: #34a55b;
  transition: .2s;
}
.deleteButton:hover {
  background: #0ed695;
  color: white;
}

.errorMessages {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10%;
	margin-left: 10%;
	color: #ffffff;
	font-size: large;
	font-weight: bold;
	border-style: solid;
	border-color: #ff0000;
	background-color:  #ff0000;
}

.timer {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10%;
	margin-left: 10%;
	color: #ffffff;
	font-size: large;
	font-weight: bold;
	text-align: center;
	border-style: solid;
	border-color: #34a55b;
	background-color:  #34a55b;
}